<h1 style="text-align: center;">Árbol para introducir en el inventario</h1>

<app-arbol></app-arbol>

<h1 style="text-align: center;">Arboles en el inventario</h1>
<table class="hover" border="1" style="margin: 0 auto;">
    <thead>
        <tr style="background-color: blueviolet; color: blanchedalmond;">
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <div class="arboles">
            <!--"[class.favorito]arbol"-->
        </div>
        <tr *ngFor="let arbol of Arboles "[class.favorito]="arbol.favorito === true">
            <td>{{arbol.nombreArb}}</td>
            <td>{{arbol.tipo}}</td>
            <td><app-botones (eventBorrar)="borradi(arbol)" (eventMarcar)="marcadi($event, arbol)"></app-botones></td>
        </tr>
    </tbody>
</table>
